<form action="/venda" method="post" >
    <div class="row row-sm-offset">
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label" id="lab_vend_acao">AÇÃO</label>
                <script>
                $(document).ready(function () {
                          $('#valor_venda,#IR,#quantidade_venda').change(function () { Lucro(); });
                          $('#valor_venda,#IR,#quantidade_venda').on(function () { Lucro(); });
                          $('#valor_venda,#IR,#quantidade_venda').keyup(function () { Lucro(); });
                          //$('#valor_venda,#IR,#quantidade_venda').keyCode(function () { Lucro(); });
                      });
var obj_compra = new Array();
obj_compra[-1] =
 {
   val: 0,
   qnt:0,
   media:0
 };

      function Descri(id)
      {
        console.log(id);
        document.getElementById("valor_compra_M").value = obj_compra[id].val;
        document.getElementById("valor_venda").value = 0 ;
        document.getElementById("lab_vend_qnt").innerHTML  = "QUANTIDADE (1 a " + obj_compra[id].qnt  + ")";
        document.getElementById("media").value = obj_compra[id].media;

        Lucro();
        console.log(obj_compra);

      }
      function Lucro()
      {
        var val_qnt    = document.getElementById("quantidade_venda").value;
        var val_Venda  = document.getElementById("valor_venda").value;
        var val_Compra = document.getElementById("valor_compra_M").value;
        var val_lucro  =  (val_Venda - val_Compra) * val_qnt;
        var val_ir     = (document.getElementById("IR").value/100);

//console.log(obj_compra);
        document.getElementById("lucro_b").value = val_lucro  ;
        document.getElementById("lucro_l").value = val_lucro - (val_lucro * val_ir)
        document.getElementById("valor_compra").value = document.getElementById("valor_compra_M").value;
      }

                </script>

         <select type="text" class="form-control" name="codigo_acao" id="codigo_acao"
               onchange="Descri( (this.options[this.selectedIndex].index-1));">
                  <option value="-1">SELECIONAR</option>
                  <% if(data.length){
                  for(var i = 0;i < data.length;i++) { %>
                    <script>
                       obj_compra[<%=(i)%>] =
                        {
                          val:"<%=data[i].valor_compra%>",
                          qnt:"<%=data[i].quantidade_compra%>",
                          media:"<%=data[i].media%>"
                        };

                      </script>
                      <option value="<%=data[i].codigo_produto%>"><%=data[i].codigo_produto%></option>
                  <% }
                   }else{ %>
                          <option value="null"> sem registros </option>
                    <% } %>
                </select>

            </div>
        </div>

        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_valor_compra">VALOR DA COMPRA</label>
                      <input  value="0" type="hidden" class="form-control" name="valor_compra" id="valor_compra">
                  <input disabled value="0" type="number" class="form-control" name="valor_compra_M" id="valor_compra_M">
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_valor_venda">VALOR DA VENDA</label>
                <input type="number" value="0"  class="form-control" name="valor_venda" id="valor_venda">
            </div>
        </div>

        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"   id="lab_valor_venda">IR</label>
                <input type="number"value="2" class="form-control" name="IR" id="IR">
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_lucro_b">LUCRO BRUTO</label>
                <input disabled type="number"value="0" class="form-control" name="lucro_b" id="lucro_b">
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_lucro_l">LUCRO LIQUIDO</label>
                <input disabled type="number" value="0" class="form-control" name="lucro_l" id="lucro_l">
            </div>
        </div>

        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_vend_qnt">QUANTIDADE (1 a 1)</label>
                <input type="number"  min="1" value="1"  class="form-control" name="quantidade_venda" id="quantidade_venda">
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_vend_media">MÉDIA</label>
                <input type="text" class="form-control" name="media" id="media">
            </div>
        </div>

        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label class="form-control-label"  id="lab_vend_datat">DATA DA COMPRA</label>
                  <input class="form-control" type="date" name="data_venda" id="data_venda" >
            </div>
        </div>
      </div>
      <script>
      Descri(-1);
      var hoje = formatDate(new Date());
      function formatDate(date)
       {
              var d = new Date(date),
                  month = '' + (d.getMonth() + 1),
                  day = '' + d.getDate(),
                  year = d.getFullYear();

              if (month.length < 2) month = '0' + month;
              if (day.length < 2) day = '0' + day;

              return [year, month, day].join('-');
      }
      document.getElementById("data_venda").value = hoje;
      </script>
    <div><button type="submit" class="btn btn-primary">VENDER</button></div>
</form>
