<!DOCTYPE html>
<html>
<head>

  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/showPage.css" />
  <script src="/js/showPage.js"> </script>
    <script >
    function UpdateCadastro(acao,desc){
      document.getElementById("codigo_h").value = acao;
      document.getElementById("descrica_h").value = desc;
      document.getElementById("codigo_atual").value = acao;
      document.getElementById("descrica_atual").value = desc;
    OpenFout();

    };

   </script>
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li >
          <a href="/"> <span class="glyphicon glyphicon-home"></span> </a>
        </li>
        <li class="active">
          <a href="/cadastro"><span class="glyphicon glyphicon-pencil"></span> CADASTRA AÇÕES</a>
        </li>
        <li>
          <a href="/compra"><span class="glyphicon glyphicon-shopping-cart"></span> COMPRAR AÇÕES</a>
        </li>
        <li>
          <a href="/venda"><span class="glyphicon glyphicon-usd"></span> VENDER AÇÕES</a>
        </li>
        <li>
          <a href="/relatorio"><span class="glyphicon glyphicon-file"></span> RELATÓRIO</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href=" https://github.com/LeloGualda/INVEST_LAB.git"><span class="glyphicon glyphicon-book"></span>  GITHUB</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container">
    <% include ../showPage/cadastro.ejs%>
    <% include ../form/f_select_cadastro.ejs%>

<div class="table-responsive" >
  <table class="table table-striped">
                  <tr>
                      <th>ID</th>
                      <th>AÇÃO</th>
                      <th>DESCRIÇÃO</th>
                      <th>EXCLUIR </th>
                      <th>EDITAR</th>
                  </tr>
                  <% if(data.length){

                   for(var i = 0;i < data.length;i++) { %>

                  <tr>
                      <td><%=(i+1)%></td>
                      <td><%=data[i].codigo_cadastro%></td>
                      <td><%=data[i].descricao_cadastro%></td>
                      <td>
                          <% include ../form/f_delete_cadastro.ejs%>
                      </td>
                        <td>
                           <a>
       <i  onclick="UpdateCadastro('<%=data[i].codigo_cadastro%>','<%=data[i].descricao_cadastro%>')" class="material-icons" style="font-size:36px">border_color</i>

                           </a>
                          </td>
                  </tr>
              <% }

               }else{ %>
                   <tr>
                      <td colspan="3">sem cadastros</td>
                   </tr>
              <% } %>
            </table>
</div>
</div>
</body>
</html>
