<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/css/showPage.css" />
  <% include ../partials/header.ejs %>
  <script src="/js/showPage.js"> </script>
  <script >
  function UpdateCompra(acao,qnt,val,id){
      document.getElementById("dsb_cod").value = acao;
      document.getElementById("dsb_qnt").value = qnt;
      document.getElementById("dsb_val").value = val;
      document.getElementById("trc_cod").value = acao;
      document.getElementById("trc_qnt").value = qnt;
      document.getElementById("trc_val").value = val;
      document.getElementById("id_up_compra").value = parseInt(id);

  OpenFout();
  };
 </script>
</head>

<body>
  <% include ../showPage/compra.ejs%>

  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="/"> <span class="glyphicon glyphicon-home"></span> </a>
        </li>
        <li>
          <a href="/cadastro"><span class="glyphicon glyphicon-pencil"></span> CADASTRA AÇÕES</a>
        </li>
        <li  class="active">
          <a href="/compra"><span class="glyphicon glyphicon-shopping-cart"></span> COMPRAR AÇÕES</a>
        </li>
        <li>
          <a href="/venda"><span class="glyphicon glyphicon-usd"></span> VENDER AÇÕES</a>
        </li>
        <li>
          <a href="/relatorio"><span class="glyphicon glyphicon-file"></span> RELATÓRIO</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-right">
          <a href=" https://github.com/LeloGualda/INVEST_LAB.git"><span class="glyphicon glyphicon-book"></span>  GITHUB</a>
        </li>
      </ul>
    </div>
  </nav>


<div class="container">

      <div class="row">
          <div class="col-xs-12 col-lg-13 ">
            <% include ../form/f_compra.ejs %>

          </div>

      </div>
      <div class="row" style="margin-top:10px">
          <div class="col-xs-12 col-lg-13">
            <table class="table table-striped">
                            <tr>
                                <th>ID</th>
                                <th>AÇÃO</th>
                                <th>QUANTIDADE</th>
                                <th>VALOR DA COMPRA</th>
                                <th>TOTAL</th>
                                <th>DATA DA COMPRA</th>
                                <th>EXCLUIR</th>
                                <th>EDITAR</th>
                            </tr>
                              <%  var date = new Array();
                                      function formatDate(date)
                                       {
                                              var d = new Date(date),
                                                  month = '' + (d.getMonth() + 1),
                                                  day = '' + d.getDate(),
                                                  year = d.getFullYear();
                                              if (month.length < 2) month = '0' + month;
                                              if (day.length < 2) day = '0' + day;
                                              return [day, month,year ].join('/');
                                      }

                                  if(dataCompra.length){
                             for(var i = 0;i < dataCompra.length;i++) { %>

                            <tr>
                                <td><%=(i+1)%></td>
                                <td><%=dataCompra[i].codigo_produto%></td>
                                <td><%=dataCompra[i].quantidade_compra%></td>
                                <td><%=dataCompra[i].valor_compra%></td>

                                <td><%=dataCompra[i].valor_total%></td>
                                <td>
                                  <%
                                    date[i] = new Date(dataCompra[i].data_compra)
                                  %>

                                  <%=formatDate(date[i])%>

                                </td>
                                <td>
                                  <% include ../form/f_delete_compra.ejs%>

                                </td>
                          <td>
                            <a>
                                  <i  onclick="UpdateCompra('<%=dataCompra[i].codigo_produto%>','<%=dataCompra[i].quantidade_compra%>','<%=dataCompra[i].valor_compra%>','<%=dataCompra[i].codigo_compra%>')" class="material-icons" style="font-size:36px">border_color</i>
                            </a>
                          </td>
                            </tr>
                        <% }

                         }else{ %>
                             <tr>
                                <td colspan="3">sem cadastros</td>
                             </tr>
                        <% } %>
                      </table>

          </div>

      </div>

</div>


</body>
</html>
